<div class="my-container" data-controller="toggle">
  <h3 class="my-8 text-xl font-bold tracking-wide text-black">
    ⭐️: <%= @points.count %>
  </h3>
  
  <!-- New Note Button -->
  <button data-action="click->toggle#toggle" class="bg-black text-white px-4 py-2 font-bold tracking-wider rounded-xl shadow-xl transition-transform transform active:translate-y-1 hover:-translate-y-1">
    New Note
  </button>

  <!-- New Note Form (Initially Hidden) -->
  <div data-toggle-target="toggle" class="hidden mt-6 space-y-6">
    <%= render 'note_form', note: @note %>
  </div>

  <ul class="mt-6 space-y-4">
    <%= render @active_notes %>
  </ul>
</div>

<script>
  $(document).ready(function() {
    $("[id^=datepicker-]").each(function() {
      $(this).datepicker({
        dateFormat: 'yy-mm-dd',
        minDate: 1
      });
    });
  });
</script>
