<div class="flex flex-col mx-auto p-5 max-w-6xl lg:px-0">
    <!-- Hero Section -->
    <section class="flex-1 bg-white text-black p-10 animate-in">
      <div class="container mx-auto flex flex-col justify-center items-center text-center">
        <h1 class="text-3xl font-extrabold text-black tracking-tight leading-none">
          Organize your work and life, finally.
        </h1>
        <p class="mt-6 text-xl text-gray-800 max-w-2xl">
          Simplify life with fun and accountability through our gamified to-do lists!
        </p>
        <%# Animated Line %>
        <div class="my-8 h-1 w-24 bg-gray-500"></div>
        <%= link_to "Get Started", new_user_session_path, class: "mt-10 inline-block rounded-xl px-8 py-4 text-2xl font-bold border border-black shadow-xl transition-transform transform active:translate-y-1 hover:-translate-y-1" %>
      </div>
    </section>
    <!-- Features Section -->
    <section class="bg-gray-50 p-10">
      <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="p-8 bg-white shadow-md rounded-lg text-center transition-all duration-150 hover:shadow-xl">
          <h2 class="text-2xl font-semibold mb-4">Duel Tasks</h2>
          <p class="text-gray-700">Turn any task into a duel—win or pay up!</p>
        </div>
        <div class="p-8 bg-white shadow-md rounded-lg text-center transition-all duration-150 hover:shadow-xl">
          <h2 class="text-2xl font-semibold mb-4">Real Rewards</h2>
          <p class="text-gray-700">Set monetary penalties for incomplete tasks.</p>
        </div>
        <div class="p-8 bg-white shadow-md rounded-lg text-center transition-all duration-150 hover:shadow-xl">
          <h2 class="text-2xl font-semibold mb-4">Teamwork</h2>
          <p class="text-gray-700">Track progress, earn rewards, and stay motivated together.</p>
        </div>
      </div>
    </section>
</div>
