<div class="my-container mx-auto py-12">
  <h1 class="text-5xl font-extrabold mb-12 text-center tracking-widest text-black">
    Blog
  </h1>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    <% @posts.each do |post| %>
      <%= render partial: "blog/blog_post", locals: { post: post } %>
    <% end %>
  </div>
</div>
