<!-- Footer -->
<footer class="bg-black text-white p-5 text-center border-t-4 border-white">
  <div class="container mx-auto">
    <p class="text-xl font-bold uppercase">&copy; 2024 XTrack. All rights reserved.</p>
  </div>
</footer>
