<footer class="bg-black text-white p-5 text-white">
  <div class="max-w-6xl flex justify-between w-full mx-auto items-center">
    <p class="text-xl font-bold">&copy; 2024 <%= APP_NAME %>. All rights reserved.</p>
  </div>
</footer>
